@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e4e6e9;
    --foreground: #080C25;
    --card: #F9F4F0;
    --card-foreground: #080C25;
    --popover: #F9F4F0;
    --popover-foreground: #080C25;
    --primary: #0F2C64;
    --primary-foreground: #F2F7FC;
    --secondary: #1667A7;
    --secondary-foreground: #F2F7FC;
    --muted: #E9EFF6;
    --muted-foreground: #6A7485;
    --accent: #26A4DD;
    --accent-foreground: #F2F7FC;
    --destructive: #E63946;
    --destructive-foreground: #F2F7FC;
    --border: #EDDBC9;
    --input: #F1E5DA;
    --ring: #0F2C64;
    --radius: 0.5rem;
    --chart-1: #0F2C64;
    --chart-2: #26A4DD;
    --chart-3: #2A9D8F;
    --chart-4: #E9C46A;
    --chart-5: #F4A261;
    
    --sidebar-background: #080C25;
    --sidebar-foreground: #F2F7FC;
    --sidebar-primary: #F2F7FC;
    --sidebar-primary-foreground: #121A3E;
    --sidebar-accent: #222B45;
    --sidebar-accent-foreground: #F2F7FC;
    --sidebar-border: #222B45;
    --sidebar-ring: #6C82A6;
  }

  .dark {
    --background: #080C25;
    --foreground: #F2F7FC;
    --card: #080C25;
    --card-foreground: #F2F7FC;
    --popover: #080C25;
    --popover-foreground: #F2F7FC;
    --primary: #F2F7FC;
    --primary-foreground: #121A3E;
    --secondary: #222B45;
    --secondary-foreground: #F2F7FC;
    --muted: #222B45;
    --muted-foreground: #9AA5B8;
    --accent: #26A4DD;
    --accent-foreground: #F2F7FC;
    --destructive: #8B1D34;
    --destructive-foreground: #F2F7FC;
    --border: #222B45;
    --input: #222B45;
    --ring: #26A4DD;

    --sidebar-background: #080C25;
    --sidebar-foreground: #F2F7FC;
    --sidebar-primary: #F2F7FC;
    --sidebar-primary-foreground: #121A3E;
    --sidebar-accent: #222B45;
    --sidebar-accent-foreground: #F2F7FC;
    --sidebar-border: #222B45;
    --sidebar-ring: #6C82A6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-sidebar {
    background-color: hsl(var(--sidebar-background));
  }
  .text-sidebar-foreground {
    color: hsl(var(--sidebar-foreground));
  }
}
